:markdown
   # Dreamer
   ##Hi
   I'm pl. If you've been to metalab a several times, you've probably already met me.  
   Talk with me about anything.  

   ##Me and Metalab
    - Active part at metalab [[Core]] mailinglist
    - metalab-wiki edits, writing and resolving issue-tracker tickets
    - Cleaning up, fixing stuff, showing new people the space
    - Chatting & helping other people
    - Helping out with the [[Lazzzor]] & [[3D-Printer]]
    - Organizing several [[Hackathon|Hackathons]] with [[User:tkolar|tkolar]] \(huge thanks [[User:gem|gem]]\)
    - [[Gemeinschaftsabendessen]] \(mostly with [[User:metaz|meta]]\)

   ##Projects
    - Well, I've finished going to school last||this year.
    - I'm doing things with operating systems(mostly Linux)
     - (Paused) [[NSA-Backup-Device]]
    - Lasercutter
      - Stencils, Boxes & other experiments
      - Engraving a stamp (with help) for [http://devlol.at /dev/lol]  Hackerspace
    - Learning [[IoT/ESP8266]]
    - Some 'HTML5' things
      - [[JS\_Learning\_Group|JavaScript Learning Group]]
    - 3D-Printing
    - Multitouch Table (with 3D printed tokens)

[https://github.com/norpol/user-pl Wikipage based on HTML via. Jade & Markdown]
