:markdown-it
   # Dreamer
   ## Hi
   I'm pl. I've had been a very avtive part of metalab. You can see an overview of common things I've did for the metalab-crowd below.   
   In July 2016, after about five years of membership, I've decided to cancel my membership. If you end up at this page and need some help with something I was handling for metalab in the past, feel free to contact me.

   ## Me and my time at Metalab
    - Super active part [[Core]] mailinglist
    - Member of official elected board between 2015-07-25 and 2016-07-25
    - metalab-wiki edits, writing and resolving issue-tracker tickets
    - Cleaning up, fixing stuff, showing new people around the space
    - Chatting & helping other people
    - [[Jour_Fixe]] protocols, moderation and participation
    - Helping out with the [[Lazzzor]] & [[3D-Printer]]
    - Organizing several [[Hackathon|Hackathons]] with [[User:tkolar|tkolar]] \(huge thanks [[User:gem|gem]]\)
    - [[Gemeinschaftsabendessen]] \(mostly with [[User:metaz|meta]]\)

[https://github.com/norpol/user-pl Wikipage based on HTML via. Jade & Markdown]
