- var width = '214px'
- var cf0 = '#0f0'
- var cf1 = '#f00'
- var cs = "colspan"

table(class="wikitable" border="0" cellpadding="3" cellspacing="1" align="right" width='#{width}' style="background: #FFF; margin: 0 0 1em 1em")
    tr
        th(colspan='2' style="background: #{cf1}") You are too busy.
    tr
        td(colspan='2' align="center") [[Bild:pl.jpg|#{width}]]
    tr
        td(colspan='2' align="center") [[Bild:I_button_50px.png]]
    tr
        th(colspan='2' style="background: #{cf1}") Contact
    tr
        td(href="xmpp://pl@jabber.metalab.at/cybär") XMPP/Fingerprint
        td E142EB62 2E089FE6 4D5B3C7E E16D0C87 D07177B0
    tr
        td Nick
        td pl
    tr
        td Mail
        td plMETA at woerm.at
    tr
        td HTTP
        td exaple.org
    tr
        td HIPSTER <br /> CRYPTO
        td keybase.io/pl


:markdown
    _Work in Progress Page_
    ##Hi
    I'm pl.
    ##Tell people why they should like you ;)
     - Yeah
     - Muh
     - Drecksfuss
    ##Moar
     - [Source](https://github.com/norpol/user-pl)
