- var width = '214px'
- var cf0 = '#2c834f'
- var cf1 = '#d2f0d3'
- var cs = "colspan"

table(class="wikitable" border="0" cellpadding="3" cellspacing="1" align="right" width='#{width}' style="background: #FFF; margin: 0 0 1em 1em")
    tr
        th(colspan='2' style="background: #{cf1}") You are too busy.
    tr
        td(colspan='2' align="center") [[Bild:pl.jpg|#{width}]]
    tr
        th(colspan='2' style="background: #{cf1}") Contact
    tr
        td Nick
        td pl
    tr
        td Mail
        td metalab-wiki at woerm.at

include body.jade
